body {
  background: #e9ecef;
}

.form {
  border-radius: 12px !important;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.3);
}

.result {
  border-radius: 12px !important;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.3);
}
